@use '../variables' as v;

.button {
  cursor: pointer;

  // variant styles
  &.primary {
    // background color styles
    &.background-blue {
      background-color: v.$blue;
    }

    &.background-teal {
      background-color: v.$teal;
    }

    &.background-green {
      background-color: v.$emerald;
    }

    &.background-cream {
      background-color: v.$cream;
    }

    &.background-offwhite {
      background-color: v.$off-white;
    }

    &.background-white {
      background-color: v.$white;
    }
  }

  &.secondary {
    background-color: v.$white;

    // background color styles
    &.background-blue {
      border: 4px solid v.$blue;
    }

    &.background-teal {
      border: 4px solid v.$teal;
    }

    &.background-green {
      border: 4px solid v.$emerald;
    }

    &.background-cream {
      border: 4px solid v.$cream;
    }

    &.background-offwhite {
      border: 4px solid v.$off-white;
    }

    &.background-white {
      border: 4px solid v.$white;
    }
  }

  &.link {
    // background color styles
    &.background-white {
      background-color: v.$white;
      border-radius: 0.25rem;
      transition: background-color 200ms ease-in;
    }

    // hover effect
    &:hover {
      background-color: v.$off-white;
    }
  }
}