@use '../variables' as v;

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 15%;
  background-color: v.$white;

  &-logo {
    display: inline-block;
    vertical-align: top;
    width: 5rem;
  }

  &-menu {
    display: inline-block;
  }
}

// ipad size
@media screen and (max-width: 768px) {
  .navbar {
    padding: 2rem 10%;
  }
}

// phone size
@media screen and (max-width: 480px) {
  .navbar {
    padding: 2rem 8%;
  }
}