@use '../variables' as v;

// header text size styles
.headertext {
  font-family: v.$plusjakarta;
  display: inline;
  color: v.$blue;

  &.header1 {
    font-size: 6rem;
  }

  &.header2 {
    font-size: 4.5rem;
  }

  &.header3 {
    font-size: 3rem;
  }

  &.mini {
    font-size: 1rem;
  }
}

// body text size styles
.bodytext {
  font-family: v.$manrope;
  display: inline;
  color: v.$blue;

  &.large {
    font-size: 2rem;
  }

  &.medium {
    font-size: 1.5rem;
  }

  &.small {
    font-size: 1rem;
  }

  &.mini {
    font-size: 0.75rem;
  }
}

// header and body weight and italic styles
.headertext.bold, .bodytext.bold {
  font-weight: v.$bold;
}

.headertext.regular, .bodytext.regular {
  font-weight: v.$regular;
}

.headertext.thin, .bodytext.thin {
  font-weight: v.$thin;
}

.headertext.straight, .bodytext.straight {
  font-style: normal;
}

.headertext.italics, .bodytext.italics {
  font-style: italic;
}

// text color
.textcolor-blue {
  color: v.$blue;
}

.textcolor-teal {
  color: v.$teal;
}

.textcolor-green {
  color: v.$emerald;
}

.textcolor-cream {
  color: v.$cream;
}

.textcolor-offwhite {
  color: v.$off-white;
}

.textcolor-white {
  color: v.$white;
}

.underline {
  text-decoration: underline;
}