@use '../variables' as v;

.bodytext.landing1 {
  display: block;
  margin-top: 2rem;
}

.adventure-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
