// google fonts
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700&display=swap');

// fonts
$plusjakarta: 'Plus Jakarta Sans', sans-serif;

// font weight
$bold: 700;
$regular: 400;
$thin: 200;

// colors
$blue: #001b2e; // oxfordBlue
$teal: #007991; // tealBlue
$emerald: #439A86; // illuminatingEmerald
$cream: #F1E0C5; // champagne
$off-white: #E8F1F2; // aliceBlue
$white: #FDFDFF; // wht
