// fonts
$plusjakarta: 'Plus Jakarta Sans', sans-serif;
$manrope: 'Manrope', sans-serif;

// font weight
$bold: 700;
$regular: 400;
$thin: 200;

// colors
$blue: #001b2e; // oxfordBlue
$teal: #007991; // tealBlue
$emerald: #439A86; // illuminatingEmerald
$cream: #F1E0C5; // champagne
$off-white: #E8F1F2; // aliceBlue
$white: #FDFDFF; // wht
