@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");
.button {
  cursor: pointer;
}
.button.primary.background-blue {
  background-color: #001b2e;
}
.button.primary.background-teal {
  background-color: #007991;
}
.button.primary.background-green {
  background-color: #439A86;
}
.button.primary.background-cream {
  background-color: #F1E0C5;
}
.button.primary.background-offwhite {
  background-color: #E8F1F2;
}
.button.primary.background-white {
  background-color: #FDFDFF;
}
.button.secondary {
  background-color: #FDFDFF;
}
.button.secondary.background-blue {
  border: 4px solid #001b2e;
}
.button.secondary.background-teal {
  border: 4px solid #007991;
}
.button.secondary.background-green {
  border: 4px solid #439A86;
}
.button.secondary.background-cream {
  border: 4px solid #F1E0C5;
}
.button.secondary.background-offwhite {
  border: 4px solid #E8F1F2;
}
.button.secondary.background-white {
  border: 4px solid #FDFDFF;
}
.button.link.background-white {
  background-color: #FDFDFF;
  border-radius: 0.25rem;
  transition: background-color 200ms ease-in;
}
.button.link:hover {
  background-color: #E8F1F2;
}

/* ADVENTURE CARD FROM HOME PAGE */
.adventurecard {
  position: relative;
  width: 45%;
  border: 1rem solid #FDFDFF;
  background-color: #001b2e;
  margin-bottom: 5%;
}
.adventurecard:hover {
  cursor: pointer;
}
.adventurecard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #007991;
  padding: 3%;
  z-index: 999;
}
.adventurecard-header {
  position: relative;
}
.adventurecard-header-img {
  margin-bottom: 3%;
}
.adventurecard-header-img > img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1040px) {
  .adventurecard {
    width: 90%;
  }
  .hover-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1rem solid #FDFDFF;
    z-index: 1;
  }
  .hover-card.right {
    right: -2rem;
    transform: rotate(3deg);
  }
  .hover-card.left {
    left: -3rem;
    transform: rotate(-5deg);
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 4% 15%;
  background-color: #F1E0C5;
  display: flex;
  align-items: center;
}
.footer-socials {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.logo {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 15%;
  background-color: #FDFDFF;
}
.navbar-logo {
  display: inline-block;
  vertical-align: top;
  width: 5rem;
}
.navbar-menu {
  display: inline-block;
}

.screen {
  width: 100%;
  height: auto;
}
.screen.background-blue {
  background-color: #001b2e;
}
.screen.background-teal {
  background-color: #007991;
}
.screen.background-emerald {
  background-color: #439A86;
}
.screen.background-cream {
  background-color: #F1E0C5;
}
.screen.background-offwhite {
  background-color: #E8F1F2;
}
.screen.background-white {
  background-color: #FDFDFF;
}

.headertext {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline;
  color: #001b2e;
}
.headertext.header1 {
  font-size: 6rem;
}
.headertext.header2 {
  font-size: 4.5rem;
}
.headertext.header3 {
  font-size: 3rem;
}
.headertext.mini {
  font-size: 1rem;
}

.bodytext {
  font-family: "Manrope", sans-serif;
  display: inline;
  color: #001b2e;
}
.bodytext.large {
  font-size: 2rem;
}
.bodytext.medium {
  font-size: 1.5rem;
}
.bodytext.small {
  font-size: 1rem;
}
.bodytext.mini {
  font-size: 0.75rem;
}

.headertext.bold, .bodytext.bold {
  font-weight: 700;
}

.headertext.regular, .bodytext.regular {
  font-weight: 400;
}

.headertext.thin, .bodytext.thin {
  font-weight: 200;
}

.headertext.straight, .bodytext.straight {
  font-style: normal;
}

.headertext.italics, .bodytext.italics {
  font-style: italic;
}

.textcolor-blue {
  color: #001b2e;
}

.textcolor-teal {
  color: #007991;
}

.textcolor-green {
  color: #439A86;
}

.textcolor-cream {
  color: #F1E0C5;
}

.textcolor-offwhite {
  color: #E8F1F2;
}

.textcolor-white {
  color: #FDFDFF;
}

.underline {
  text-decoration: underline;
}

.bodytext.landing1 {
  display: block;
  margin-top: 2rem;
}

.adventure-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
}

/*# sourceMappingURL=App.css.map */
